services:
#  mariadb:
#    image: mariadb:latest
#    environment:
#      MYSQL_ROOT_PASSWORD: secret-pw
#      MYSQL_DATABASE: moodle
#      MYSQL_USER: moodle
#      MYSQL_PASSWORD: moodle
##      command: --default-character-set=utf8mb4 --innodb_file_format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix --character-set-client-handshake=FALSE --character-set-server=utf8mb4 --collation_server=utf8mb4_unicode_ci --default-character-set=utf8mb4
##    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci # The simple way to override the mariadb config.
#    command:  --character-set-client-handshake=FALSE --character-set-server=utf8mb4 --collation_server=utf8mb4_unicode_ci
#    volumes:
#      - mysql:/var/lib/mysql
#      - ./mysql/config:/etc/mysql/conf.d
##      - ./docker-runtime/mariadb-init:/docker-entrypoint-initdb.d # Place init .sql file(s) here.
#    ports:
#      - "3000:3306"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: moodle
      POSTGRES_PASSWORD: moodle
      POSTGRES_DB: moodle
    volumes:
      - postgres:/var/lib/postgresql
    ports:
      - "5432:5432"

#  # PHP in a folder
#  php:
#    #    build: ./dockerphp # Use together with "image" when creating a new image or updating existing
#    # Moodle in a folder
#    image: moodle310folder
#    volumes:
#      - moodledata:/var/www/moodledata
#      - ./moodleupload:/moodleupload
#      - moodle:/var/www/html/moodle
#      - ./configs/php/php.ini:/usr/local/etc/php/php.ini
#      #      Comment out for fresh install
#      - ./moodleconfig/config.php:/var/www/html/moodle/config.php
#      - ./mod/hvp:/var/www/html/moodle/mod/hvp
#    expose:
#      - "9001"
#
#  nginx:
#    image: nginx
#    depends_on:
#      - php
#    volumes:
#      - ./configs/nginx/default.conf:/etc/nginx/conf.d/default.conf
#      # From php
#      - moodledata:/var/www/moodledata
#      - ./moodleupload:/moodleupload
#      - moodle:/var/www/html/moodle
#      #Comment out for fresh install
#      - ./moodleconfig/config.php:/var/www/html/moodle/config.php
#      - ./mod/hvp:/var/www/html/moodle/mod/hvp
#    ports:
#      - "80:80"

  php:
    build: ./dockerphp # Use together with "image" when creating a new image or updating existing
    # Moodle in a folder
#    image: moodle310folder
    volumes:
      - moodledata:/var/www/moodledata
      - ./moodleupload:/moodleupload
      - moodle:/var/www/html
#      - ./dockerphp/moodlegit/mod/lti:/var/www/html/mod/lti
      - ./configs/php/99-xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini
      - ./configs/php/php.ini:/usr/local/etc/php/php.ini
#      - ./skipCronCssRebuild/build_installed_themes_task.php:/var/www/html/lib/classes/task/build_installed_themes_task.php
      #      Comment out for fresh install
      - ./moodleconfig/config.php:/var/www/html/config.php
#      - ./mod/hvp:/var/www/html/mod/hvp
      # >>     - ./privacyutils/exportdata.php:/var/www/html/exportdata2.php
      #      - ./privacyutils/compliance.php:/var/www/html/compliance2.php
      # ATTO plugin
      #      - ./mod/atto_hvp:/var/www/html/lib/editor/atto/plugins/hvp
#      - ./attoplugins/moodle-atto_morefontcolors:/var/www/html/lib/editor/atto/plugins/morefontcolors
#      - ./attoplugins/atto_styles:/var/www/html/lib/editor/atto/plugins/styles
      #        Filters
#      - ./filters/h5p:/var/www/html/filter/h5p
      #      Comment in to add custom theme
      #- ./themes/h5pmods-moodle-plugin:/var/www/html/theme/h5pmod
      #      - ./themes/moove:/var/www/html/theme/moove
      #      - ./themes/fordson:/var/www/html/theme/fordson
      #      Comment in to test moodle code quality tools
      - ./moodlehq/moodle-plugin-ci:/var/www/mpc/
#      - ./codechecker/local/codechecker:/var/www/html/local/codechecker
      # Data privacy plugin for Moodle versions that does not have it
      #      - ./mod/tool_dataprivacy:/var/www/html/admin/tool/dataprivacy
      # Debugging code for LTI
  #      - ./dockerphp/moodlegit/mod/lti:/var/www/html/mod/lti
#      - xdebugprofiles:/xdebugprofiles/
    expose:
      - "9001"

  nginx:
    image: nginx
    depends_on:
      - php
    volumes:
      - ./configs/nginx/default.conf:/etc/nginx/conf.d/default.conf
      # From php
      - moodledata:/var/www/moodledata
      - ./moodleupload:/moodleupload
      - moodle:/var/www/html
#      - ./skipCronCssRebuild/build_installed_themes_task.php:/var/www/html/lib/classes/task/build_installed_themes_task.php
      #Comment out for fresh install
      - ./moodleconfig/config.php:/var/www/html/config.php
#      - ./mod/hvp:/var/www/html/mod/hvp
#      - ./configs/php/php.ini:/usr/local/etc/php/php.ini
        #              - ./privacyutils/exportdata.php:/var/www/html/exportdata2.php
#              - ./privacyutils/compliance.php:/var/www/html/compliance2.php
        # ATTO plugin
        #      - ./mod/atto_hvp:/var/www/html/lib/editor/atto/plugins/hvp
#      - ./attoplugins/moodle-atto_morefontcolors:/var/www/html/lib/editor/atto/plugins/morefontcolors
#      - ./attoplugins/atto_styles:/var/www/html/lib/editor/atto/plugins/styles
#        Filters
#      - ./filters/h5p:/var/www/html/filter/h5p
        # Comment in to add custom theme
      #- ./themes/h5pmods-moodle-plugin:/var/www/html/theme/h5pmod
        #      - ./themes/moove:/var/www/html/theme/moove
        #      - ./themes/fordson:/var/www/html/theme/fordson
        # Certificates
        #      - ./sslcertificates:/sslcertificates
        # Data privacy plugin for Moodle versions that does not have it
        #      - ./mod/tool_dataprivacy:/var/www/html/admin/tool/dataprivacy
        #      Comment in to test moodle code quality tools
        #      - ./codechecker/local/codechecker:/var/www/html/local/codechecker
      # Debugging code for LTI
    #      - ./dockerphp/moodlegit/mod/lti:/var/www/html/mod/lti

    ports:
      - "80:80"
#      - "443:443"

volumes:
  postgres:
  moodle:
  moodledata:
  xdebugprofiles:
  mysql:
